@import url('https://fonts.googleapis.com/css2?family=Potta+One&family=Stoke&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: gray;
}

.container {}

.header {
    background-color: black;
    display: flex;
    height: 70px;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
}

.ukraine {
    font-family: Potta One;
    color: lawngreen;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-image: url('ukraine_gradient.png');
    background-repeat: no-repeat;
    background-position: center;
    min-height: 50px;
    max-width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.menuIcon {
    color: gold;
}

.main {
    display: block;
}

.babelTowerImage {
    margin-top: 5px;
    height: 578px;
    width: 900px;
}

.mainText {
    font-family: Stoke;
    display: flex;
    font-size: 30px;
    margin-left: 2px;
    justify-content: center;
}

.mainTextArticle .mainTextList {
    padding-top: 5px;
}

.discordButton {
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.discordButton:hover,
.discordButton:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.discordButton:hover {
    transform: translateY(-1px);
}

.discordButton:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

.discordButton a {
    text-decoration: none;
    color: black;
}

.discordButtonWrap {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.channelsHeader {
    display: flex;
    justify-content: center;
}

.channelButton {
    margin-left: 20px;
}

.footer {
    color: white;
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
}

.footerStaff {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footerName {
    text-decoration: underline;
    color: lightblue;
}

.footerEmail {
    color: yellow;
}

.footerLink {
    text-decoration: none;
}
